.primarynavbar-mobile.column-container {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1; }

.primarynavbar-desktop {
  display: none; }

.logo1,
.menuicon1 {
  width: 20%;
  height: 70px;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  text-align: center; }

.menuicon1 i {
  font-size: 36px;
  padding-top: 15px;
  padding-right: 10px; }

.logo1 img {
  max-width: 70px;
  padding-right: 15px;
  padding-top: 5px; }

.restaurants1,
.ventures1 {
  width: 30%;
  height: 70px;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  text-align: center;
  padding-top: 20px; }

.secondarynavbar.column-container {
  margin-top: 70px;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0; }

.secondarynavbar .concept,
.secondarynavbar .location {
  display: none; }

.restaurants {
  width: 80%;
  background-color: #000;
  color: #FFF;
  padding: 16px;
  margin: 0;
  letter-spacing: 2px;
  top: 60px; }

.menuicon {
  width: 20%;
  text-align: center;
  background-color: #000;
  color: #FFF;
  padding: 16px;
  margin: 0;
  letter-spacing: 2px;
  top: 60px; }

.mobile.fa {
  font-size: 36px; }

.image-links {
  text-align: center;
  position: absolute;
  top: 80px; }

.image-links i {
  font-size: 4px; }

.image-links__column {
  width: 90%;
  padding-bottom: 30%;
  margin-bottom: 2px;
  background-size: cover;
  text-align: center; }

.image-links__title {
  color: #FFF;
  letter-spacing: 2px;
  margin: 0px;
  padding-top: 20%; }

.image-links__body-text {
  color: #FFF;
  font-size: 14px;
  margin: 0px;
  padding-top: 5%;
  letter-spacing: 2px; }

.noodle {
  margin-top: 24px;
  background-image: url("../images/momofuko-01-noodlebarbowl_mini.jpg"); }

.ssam {
  background-image: url("../images/momofuko-02-ssam-bar.jpg"); }

.ko {
  background-image: url("../images/momofuko-03-ko.png"); }

.peche {
  background-image: url("../images/momofuko-04-ma-peche.jpg"); }

.nishi {
  background-image: url("../images/momofuko-05-nishi.jpg"); }

.ccdc {
  background-image: url("../images/momofuko-06-CCDC.jpg"); }

.nikai {
  background-image: url(https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/K9qxjKkbNoIaUWdvK0j0XrNNRfAUXLzTsHjd7tDaJosTKqyrMGOZB91lQSxfqsa8mdDorw1jRvTymNvWZhejyIZMlO9eyZOrTlAKhMXz3AhFngbFKVV1MPe3HLmlvq0fwig711iKzRQpC3kJ1PTvkf6IQYv75uNG1BsMaZMwk47Y8GkCOZ0INYyR2rO5XGXwEvE4eeGIcI1z-poESWTaZT8.jpg); }

.daisho {
  background-image: url("../images/momofuko-07-daisho.png"); }

.shoto {
  background-image: url("../images/momofuko-08-shoto.png"); }

.milk {
  margin-bottom: 24px;
  background-image: url(https://momofuku-assets.s3.amazonaws.com/uploads/2015/04/milk-bar1.jpg); }

.image-links__column img {
  width: 15%;
  margin-left: auto;
  margin-right: auto; }

* {
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

#app-container {
  position: relative; }

body {
  font-family: "Hind", "Futura", "sans-serif";
  margin: 0; }

.column-container {
  font-size: 0; }
  .column-container > * {
    display: inline-block;
    vertical-align: top;
    font-size: medium; }

@media screen and (min-width: 1000px) {
  .mobile {
    display: none; }

  .primarynavbar-desktop {
    display: block;
    position: fixed;
    height: 100%;
    width: 170px;
    background-color: #FFF;
    text-align: center;
    border-right: 1px #ccc solid;
    letter-spacing: 2px;
    font-size: 14px; }

  .logo2 {
    padding-top: 24px;
    padding-bottom: 90px;
    padding-right: 6px; }

  .restaurants2,
  .ventures2,
  .reservations2 {
    border-top: 1px #ccc solid;
    padding-top: 16px;
    padding-bottom: 16px; }

  .company2 {
    border-top: 1px #ccc solid;
    padding-top: 32px;
    padding-bottom: 16px; }

  .desktop.company2 p {
    margin-top: 0px;
    margin-bottom: 0px; }

  .reservations2 {
    padding-top: 24px; }

  .reservations2 i {
    padding-left: 4px;
    padding-right: 4px; }

  .desktop.logo2 img {
    width: 150px; }

  .desktop img {
    width: 40px;
    margin-left: auto;
    margin-right: auto; }

  .secondarynavbar.column-container {
    position: fixed;
    left: 170px;
    margin-top: 0px;
    z-index: 1;
    width: 100%;
    top: 0px; }

  .secondarynavbar .menuicon {
    display: none; }

  .secondarynavbar .restaurants {
    width: 55%;
    background-color: #000;
    color: #FFF;
    padding: 16px;
    margin: 0;
    letter-spacing: 2px; }

  .secondarynavbar .concept,
  .secondarynavbar .location {
    display: inline-block;
    width: 15%;
    background-color: #000;
    color: #FFF;
    padding: 16px;
    margin: 0;
    letter-spacing: 2px; }

  .image-links {
    position: absolute;
    left: 160px; }

  .image-links__column {
    width: 48%;
    max-height: 360px;
    margin-left: 1px;
    margin-right: 1px; }

  .ssam {
    margin-top: 24px; }

  .shoto {
    margin-bottom: 24px; }

  .nikai,
  .milk {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
