.secondarynavbar.column-container{
  margin-top: 70px;
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}

.secondarynavbar .concept,
.secondarynavbar .location{
  display: none;
}

.restaurants{
  width: 80%;
  background-color: #000;
  color: #FFF;
  padding: 16px;
  margin: 0;
  letter-spacing: 2px;
  top: 60px;
}

.menuicon{
  width: 20%;
  text-align: center;
  background-color: #000;
  color: #FFF;
  padding: 16px;
  margin: 0;
  letter-spacing: 2px;
  top: 60px;
}

.mobile.fa{
  font-size: 36px;
}
